# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.2DShooter.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Artyom\myUnityProject\2DShooter\2DShooter\.idea\.idea.2DShooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
